@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&display=swap");

.header {
  background-color: rgb(10, 10, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 25px;
}

.menu {
  display: none;
}

.navbarRes {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px 20px;
  ul {
    display: flex;
  }
}

.navbar_link {
  color: #ff7d00;
  text-decoration: none;
  font-size: 22px;
  margin: 0 10px;
}

.title {
  font-family: "Big Shoulders Stencil";
  font-size: 30px;
  color: #ff7d00;
  text-decoration: none;
  margin: 0 10px;
}

.button {
  background-color: #ff7d00;
  color: snow;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.cart {
  display: none;
  width: 30%;
  background-color: #1a1a1a;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0 0 10px;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cartActive {
  width: 30%;
  background-color: #1a1a1a; /* Color de fondo más suave */
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0 0 10px;
  transform: translateX(0);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cart h2 {
  color: #ff7d00; /* Color del texto */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttonCart {
  background-color: #ff7d00;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonCart:hover {
  background-color: #e06b00;
  transform: scale(1.05);
}
@media (max-width: 1240px) {
  .navbar {
    display: none;
  }

  .navbarRes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100px;
    width: 300px;
    background-color: rgb(10, 10, 10);
    height: 55vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbarResAct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100px;
    width: 300px;
    background-color: rgb(10, 10, 10);
    height: 55vh;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .menu {
    display: block;
    cursor: pointer;
  }
}
